* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1F2937;
    color: white;
    font-family: 'Inter' , sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

h1 {
    font-family: 'Domine' , sans-serif;
    font-weight: 800;
    font-size: 2.8rem;
    line-height: 1.1;
    margin-bottom: 2rem;
    letter-spacing: -0.1rem;
    color: #4ADF86;
}

.center { 
    display: grid; 
    place-items: center;
    text-align: center;
    transform: translateY(30%);
}

.padded { padding: 10%; }

footer {
    text-align: center;
    position: fixed;
    bottom: 1rem;
    left: 0;
    right: 0;
}

footer p {
    font-size: 14px;  
}
